//Products ===
.product-style1{
	.product-box{
		background-color: #eee;
	}
}
.product-box{
	position: relative;
	overflow: hidden;
	.product-media{
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}	
	&.style-1{
		height: 590px;
		@include respond('phone'){
			height: 300px;			
		}
	}
	.product-image{
		text-align: center;
		height: 100%;
		@include transitionMedium;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.product-content{
		bottom: 0;
		display: flex;
		align-items: end;
		justify-content: space-between;
		position: absolute;
		width: 100%;
		#{$dz-pos-right}: 0;
		padding: 40px;
		z-index: 1;
		.product-name{
			font-size: 2.5rem;
			font-weight: 700;
		}
		.offer{
			font-size: 16px;
		}
		@include custommq ($max:1199px){
			padding: 20px 30px;
			.product-name{
				font-size: 2rem;
				margin-bottom: 5px;
				line-height: 1.3;
			}					
			.offer{
				font-size: 15px;
			}
		}
		@include respond ('phone'){
			padding: 15px 18px;
			.product-name{
				font-size: 1.4rem;
				margin-bottom: 5px;
				line-height: 1.2;
			}					
			.btn{
				padding: 8px 16px;
				font-size: 14px;
			}
			.offer{
				font-size: 14px;
			}
		}
	}
	&.style-2{
		height: 400px;
		border-radius: 20px;
		@include respond('phone'){
			height: 250px;
		}
		.product-content{
			display: flex;
			align-items: end;
			justify-content: center;
			position: absolute;
			width: 100%;
			height: 100%;
			#{$dz-pos-left}: 0px;
			padding: 35px 40px;
			flex-direction: column;
			border-radius: 20px;
			z-index: 1;
			@include respond ('wide-desktop'){
				padding: 25px;
			}
			.main-content{
				width: min-content;	
				@include respond('phone-land'){
					width: auto;
				}		
			}
			.product-name{
				font-size: 50px;
				font-weight: 600;
				text-transform: uppercase;
				width: 80%;
				line-height: 1.3;
				margin-bottom: 15px;
				@include respond('phone-land'){
					width: 100%;
					font-size: 35px;
				}
			}
			.offer {
				padding: 5px 20px;
				background: #fff;
				font-size: 16px;
				font-weight: 800;
				color: var(--title);
				margin-bottom: 15px;
				display: inline-block;
				text-transform: uppercase;
				width: max-content;
				line-height: 1.2;
			}
			.sub-title1{
				font-size: 36px;
				font-weight: 400;
				letter-spacing: 7.2px;
				text-transform: uppercase;
				line-height: 1.2;
				@include respond('phone-land'){
					font-size: 28px;
				}
			}
			.sub-title2{
				font-size: 35px;
				font-weight: 400;
				text-transform: uppercase;
				line-height: 1.2;
				@include respond('phone-land'){
					font-size: 28px;
				}
			}
			.bg-title{
				font-size: 95px;
				font-weight: 600;
				text-transform: uppercase;
				line-height: 1;
				display: block;
				color: var(--title);
				margin-bottom: 15px;
				@include respond('phone-land'){
					font-size: 50px;
				}
			}
			.year{
			    font-size: 80px;
				font-weight:700;
				color: var(--title);
				display: block;
				line-height: 1;
				margin-bottom: 30px;
				@include respond('phone-land'){
					font-size: 50px;
				}
			}
		}
	}
	&.style-3{
		height: 280px;
		@include respond('phone'){
			height: 100%;
			min-height: 200px;
		}
		@include custommq($max:360px){
			min-height: 160px;
		}
		.product-content{
			display: flex;
			align-items: start;
			justify-content: space-between;
			position: absolute;
			width: 60%;
			height: 100%;
			#{$dz-pos-right}: 0px;
			padding: 35px 40px;
			flex-direction: column;
			z-index: 1;
			.product-name{
				font-size: 1.75rem;
				font-weight: 700;
				max-width: 300px;
			}
			@include custommq ($max:1199px){
				padding: 20px 30px;
				.product-name{
					font-size: 1.4rem;
					line-height: 1.3;
				}					
				.btn{
					padding: 8px 16px;
					font-size: 14px;
				}
				.offer{
					font-size: 15px;
				}
			}
			@include respond ('phone'){
				padding: 15px 18px;
				.product-name{
					font-size: 1.2rem;
					margin-bottom: 5px;
					line-height: 1.1;
					max-width: 170px;
					br{
						display: none;
					}
				}					
				.btn{
					padding: 6px 14px;
					font-size: 13px;
				}
				.offer{
					font-size: 13px;
				}
			}
		}
	}
	&.style-4{
		height: 550px;
		max-height: 550px;
		@include respond ('wide-desktop'){
			height: 500px;
			max-height: 500px;
		}
		@include respond('tab-land'){
			height: 400px;
			max-height: 400px;
		}
		@include respond('phone'){
			height: 280px;
			max-height: 280px;
		}
		.product-content{
			display: flex;
			align-items: start;
			justify-content:center;
			position: absolute;
			width: 100%;
			height: 100%;
			#{$dz-pos-left}: 0px;
			padding: 70px;
			flex-direction: column;
			z-index: 1;
			@include respond ('wide-desktop'){
                  padding:50px;
			}
			@include respond('phone'){
				padding: 15px;
			}
			.product-name{
				font-weight: 600;
				max-width: 540px;
				line-height: 1.1;
				margin-bottom: 30px;
				font-size:60px;
				text-transform: uppercase;
				@include respond('tab-land'){
					font-size: 40px;
				}
				@include respond('phone'){
					font-size: 30px;
				}
			}
		}
		.sale-box{
			position: absolute;
			top: 50%;
			right: 25%;
			transform: translate(50%, -50%);
			fill: #fff;
			text-align: center;
			padding:65px;
			@include respond('tab-land'){
				padding: 55px;
			}
			@include respond ('wide-desktop'){
				right: 30%;
			}
			@include respond('phone-land'){
				padding:40px;
			}
			.badge.style-1{
				@include respond('phone'){
					font-size: 12px;
				}
			}
			.btn{
				@include respond('phone'){
					padding: 8px 16px;
					font-size: 13px;
				}
			}

			.sale-name{
				font-size: 40px;
				font-weight: 600;
				letter-spacing: 8px;
				text-transform: uppercase;
				@include respond('tab-land'){
                    font-size: 30px;
				}
				@include respond('phone-land'){
					font-size: 25px;
				}
				@include respond('phone'){
					font-size: 16px;
				}
				span{
				    font-size: 100px;
					font-weight: 600;
					line-height: 1;
					display: block;
					letter-spacing:0;
					@include respond('tab-land'){
                       font-size: 70px; 
					}
					@include respond('phone-land'){
						font-size: 50px;
					}
				}
			}
			&:after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url(../images/shap.svg);
				background-size: contain;
				z-index: -1;
				background-repeat: no-repeat;
			}
		}
		
	}
}

//Shop Card ====
.shop-card{
	position: relative;
	z-index:1;
	height: 100%;
		.dz-media{
			border-radius: 20px;
			@include transitionMedium;
			img{
				border-radius: 20px;
				@include transitionMedium;
			}
		}
		&:hover{
			.dz-media{
				img{
					transform: translateY(-20px);
				}
			}
			.shop-meta{
				&.top{
					position: absolute;
					top: 30px;
					right: 30px;
				}
				.quick-view{
					bottom: -4px;
					border: 4px solid #fffaf3;
				}
				.btn.btn-rounded{
					bottom: -4px;
					@include respond('phone'){
						bottom: -15px;
					}
				}
			}	
		}
		.dz-content{
			text-align: start;
			background-color: transparent;
		    padding: 20px 0;
			display: flex;
			justify-content: space-between;
			.title{
				margin-bottom: 0;
				font-weight: 600;
				text-transform: capitalize;
				width: 70%;
				@include respond('tab-land'){
					width: 100%;
				}
				@include respond('tab-port'){
					font-size: 16px;
				}
				@include respond('phone'){
					font-size: 14px;
				}
			}
			@include respond('tab-land'){
				padding: 15px 12px;
			}
		}
		.product-tag{
			position: absolute;
			top: 20px;
			#{$dz-pos-left}: 20px;
			width: auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include respond('phone'){
				top: 10px;
				#{$dz-pos-left}: 10px;
			}
			.badge {
				padding: 5px 15px;
				background-color: #ffff;
				color: var(--title);
				font-family: var(--font-family-title);
				font-size: 12px;
				min-width: 22px;
				min-height: 22px;
				line-height: 18px;
				text-transform: uppercase;
				text-align: center;
				font-weight: 600;
				border-radius: 30px;
				transition: 0.5s;
				@include respond('phone'){
					padding: 2px 8px;
					font-size: 10px;
				}
			}
		}

	&.style-2{
		background: linear-gradient(180deg, #FFF -30.2%, rgba(255, 255, 255, 0.00) 92.95%);
		filter: drop-shadow(5px -15px 30px rgba(82, 48, 0, 0.13));
		margin-top:50px;
		border-radius:15px 15px 0 0;	
		box-shadow: 5px -20px 30px 0 rgba(82,48,0,0.13);
		.dz-media{
			@include transitionMedium;
			overflow:visible;
			padding:20px;
			padding-bottom: 0;
			img{
				margin-top: -70px;
			}	
		}
		&:hover{
			.dz-media{
				transform: translateY(-10px);
			}
		}
		.dz-content{
			padding: 25px 20px;
			align-items: center;
			.title{
				margin-bottom: 0;
				font-weight: 500;
				width: auto;
				text-transform: capitalize;
				@include respond('tab-port'){
					font-size: 16px;
				}
			}
			.sale-title{
				color: var(--primary);
				font-size: 14px;
				font-weight: 600;
				text-transform: capitalize;
			}
			.price{
				font-size: 18px;
				font-weight: 600;
				text-align:end;
				del{
				    font-size: 14px;
					font-weight: 400;
					display: block;
					margin:0;
				}
			}
			@include respond('tab-land'){
				padding: 15px 12px;
			}
		}
	}
	&.style-3{
		.dz-media{
			border-radius: 20px;
			img{
				@include transitionMedium;
			}
		}
		&:hover{
			.dz-media{
				overflow: hidden;
				transform: translateY(0px);
				img{
					transform: scale(1.2);
				}
			}
		}
		.dz-content{
			position: absolute;
			left: 50%;
			bottom: 20px;
			width: calc(100% - 40px);
			transform: translateX(-50%);
			padding: 10px;
			align-items: center;
			border: 1px solid #000;
			border-radius: 12px;
			background: #fff;
			.title{
				margin-bottom: 0;
				font-weight: 500;
				text-transform: capitalize;
				font-size: 14px;
				width: 100%;
				@include respond('tab-port'){
					font-size: 16px;
				}
				@include respond('phone-land'){

				}
			}
			.sale-title{
				color: var(--primary);
				font-size: 13px;
				font-weight: 500;
				text-transform: capitalize;
			}
			.price{
				font-size: 16px;
				font-weight: 600;
				text-align:end;
				del{
				    font-size: 12px;
					font-weight: 400;
					display: block;
					margin:0;
				}
			}
			@include respond('tab-land'){
				width: calc(100% - 20px);
			}
		}
		.sale-badge{
			position: absolute;
			top: -45px;
			right: -45px;
			width: 115px;
			height: 115px;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 1;
			color: var(--title);
			line-height: 1.2;
			font-size: 18px;
			text-align: center;
			img{
				position: absolute;
				z-index: -1;
				animation: rotate-360 20s infinite linear;
			}
			@include respond('phone-land'){
				display: none;
			}
		}
	}
	&.style-4{
		display:flex;
		align-items:center;
		border: 1px solid #000;
		border-radius: 15px;
		padding:15px 17px;
		box-shadow: 5px 15px 30px 0px rgba(82, 48, 0, 0.13);
		@include respond('phone'){
			padding: 10px;
		}
		.dz-media{
			@include transitionMedium;
			border-radius: 15px;
			width: 150px;
			height: 165px;
			min-width: 150px;
			margin-right: 15px;
			img{
				height:100%;
				width: 100%;
				object-fit: cover;
				border-radius: 0;
			}
			@include respond('phone'){
				width: 120px;
				height: 140px;
				min-width: 120px;
				margin-right: 10px;
			}
		}
		&:hover{
			.dz-media{
				img{
					transform: scale(1.2);
				}	
			}
		}
		.dz-content{
		    background: transparent;
			text-align: start;
			padding: 0;
			flex-direction: column;
			.title{
				font-size: 20px;
				font-weight: 500;
				text-transform: capitalize;
				width:100%;
				@include respond('tab-port'){
					font-size: 16px;
				}
			}
			.sale-title{
				color: var(--primary);
				font-size: 14px;
				font-weight: 500;
			}
			.price{
				font-size: 20px;
				font-weight: 600;
				del{
				    font-size: 14px;
					font-weight: 400;
					margin-left:5px;
				}
			}
			.review{
				color: rgba(0, 0, 0, 0.50);
				font-size: 14px;
				font-weight: 400;
				i{
					color:#FFA048;
					margin-right:5px;
				}
			}
		}
	}
	&.style-5{
		.dz-media{
			@include transitionMedium;
			border-radius: 20px;
			margin-bottom:15px;
		}
		&:hover{
			.dz-media{
				img{
					transform: scale(1.2);
				}
			}
		}
		.dz-content{
			padding: 0px;
			.title{
				margin-bottom: 0;
				font-weight: 600;
				text-transform: capitalize;
				font-size: 14px;
				width: 100%;
				@include respond('tab-port'){
					font-size: 16px;
				}
			}
			.sale-title{
				color: var(--primary);
				font-size: 13px;
				font-weight: 600;
				text-transform: capitalize;
			}
			.price{
				font-size: 16px;
				font-weight: 600;
				text-align:end;
				del{
				    font-size: 12px;
					font-weight: 400;
					display: block;
					margin:0;
					padding: 5px 0;
				}
			}
		}
	}
	
	&.style-6{
		@include respond('tab-port'){
			margin-bottom: 30px;
			height: auto;
		}

		.dz-media{
			@include transitionMedium;
			border-radius: 40px;
		}
		&:hover{
			.dz-media{
				img{
					transform: scale(1.2);
				}
			}
		}
		.dz-content{
			position: absolute;
			bottom: 20px;
			left: 20px;
			z-index: 1;
			padding: 0;
		}
		.sale-badge{
			position: absolute;
			top: -30px;
			right: -45px;
			width: 115px;
			height: 115px;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 1;
			color: var(--title);
			line-height: 1.2;
			font-size: 18px;
			text-align: center;
			font-weight: 600;
			img{
				position: absolute;
				z-index: -1;
				animation: rotate-360 20s infinite linear;
			}
			@include respond('phone'){
			    top: -30px;
				right: -10px;
				width: 90px;
				height: 90px;
				font-size: 15px;
			}
		}
	}

	&.style-7{
		border-radius: 15px;
		background: #fff;
		box-shadow: 6px 0px 30px 0 rgba(82, 48, 0, 0.13);
		.dz-media{			
			@include transitionMedium;
			border-radius: 15px 15px 0 0;
			
			img{
				border-radius:0;
			}
		}
		.dz-content{
			background: #FFF;
			position: relative;
			z-index: 1;
			padding: 15px;
			border-radius: 0 0 20px 20px;
		    display: block;	
			
			.title{
				margin-bottom: 0;
				font-weight: 500;
				text-transform: capitalize;
				font-size: 16px;
				width: auto;
				
				@include respond('tab-port'){
					font-size: 16px;
				}
			}
			.sale-title{
				color: #159E42;
				font-size: 15px;
				font-weight: 500;
				text-transform: capitalize;
			}
		}
		&:hover{
			.dz-media{
				img{
					transform: scale(1.2);
				}
			}
		}
	}
	&.style-8{
		.dz-media{
			background:#fff;
			width:200px;
			height:200px;
			margin:auto;
			margin: 30px auto 15px auto;
			border-radius: 30px;
				
			img{
				height:100%;
				object-fit: cover;
				border-radius: 30px;
			}
			@include respond('tab-port'){
				width:auto;
				height:auto;
			}
		}
		&:hover{
			.dz-media{
				img{
					transform: translateY(0px);
				}
			}	
		}
		.dz-content{
		    background-color: transparent;
			flex-direction: column;
			text-align: center;
			margin-bottom: 15px;
			padding: 10px 0;
			.title{
				width: 100%;
			}
		}
		.add-product {
			background: #BEBEBE;
			width: 200px;
			height: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 30px auto 15px auto;
			border-radius:4px;
		}
		@include respond('phone-land'){
			.price,
			.star-rating{
				display: none;
			}
			.dz-media{
				margin: 10px 0;
			}
			.dz-content{
				padding: 5px 0;	
				.title{
					font-size: 12px;
				}
			}
		}
		@include respond('phone'){
			.title{
				display: none;
			}
			.dz-content{
				margin: 0;
			}
			.dz-media{
				border-radius: 12px;
				
				img{
					border-radius: 12px;
				}
			}
		}
	}

	&.style-9{
		border-radius: 30px;
		position: relative;
		z-index: 1;
		transition: 0.5s;
		background-color: #fff;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 3px solid #F0F0F0;
			z-index: -1;
			border-radius: 30px;
			transition: 0.5s;
		}
		.border-shap{
			&:after{
				content: "";
				background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="91" height="18" viewBox="0 0 91 18" fill="none"><g clip-path="url(%23clip0_798_564)"><path d="M7.07796 15.1635L-0.831122 7.23929C-1.57962 6.48937 -2 5.4731 -2 4.41356V2C-2 -0.209139 -0.209139 -2 2 -2H89.2727C91.4818 -2 93.2727 -0.209137 93.2727 2V4.41356C93.2727 5.47311 92.8523 6.48936 92.1038 7.23929L84.1947 15.1635C82.632 16.7292 80.0952 16.7292 78.5325 15.1635L72.2857 8.90471C70.7229 7.33901 68.1861 7.33902 66.6234 8.90471L60.3766 15.1635C58.8139 16.7292 56.277 16.7292 54.7143 15.1635L48.4675 8.90471C46.9048 7.33901 44.3679 7.33901 42.8052 8.90471L36.5584 15.1635C34.9957 16.7292 32.4589 16.7292 30.8961 15.1635L24.6493 8.90471C23.0866 7.33901 20.5498 7.33902 18.9871 8.90471L12.7402 15.1635C11.1775 16.7292 8.64068 16.7292 7.07796 15.1635Z" fill="white" stroke="%23222222" stroke-width="3"/></g><defs><clipPath id="clip0_798_564"><rect width="91" height="18" fill="white"/></clipPath></defs></svg>');
				position: absolute;
				width: 21.77%;
				height: 20px;
				top: -4px;
				background-size: 100%;
				right: 20px;
				background-position: top;
				background-repeat: no-repeat;
				z-index: 999;
				opacity: 0;
				transition: 0.5s;
			}
			&:before{
				content: "";
				background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="91" height="18" viewBox="0 0 91 18" fill="none"><g clip-path="url(%23clip0_798_564)"><path d="M7.07796 15.1635L-0.831122 7.23929C-1.57962 6.48937 -2 5.4731 -2 4.41356V2C-2 -0.209139 -0.209139 -2 2 -2H89.2727C91.4818 -2 93.2727 -0.209137 93.2727 2V4.41356C93.2727 5.47311 92.8523 6.48936 92.1038 7.23929L84.1947 15.1635C82.632 16.7292 80.0952 16.7292 78.5325 15.1635L72.2857 8.90471C70.7229 7.33901 68.1861 7.33902 66.6234 8.90471L60.3766 15.1635C58.8139 16.7292 56.277 16.7292 54.7143 15.1635L48.4675 8.90471C46.9048 7.33901 44.3679 7.33901 42.8052 8.90471L36.5584 15.1635C34.9957 16.7292 32.4589 16.7292 30.8961 15.1635L24.6493 8.90471C23.0866 7.33901 20.5498 7.33902 18.9871 8.90471L12.7402 15.1635C11.1775 16.7292 8.64068 16.7292 7.07796 15.1635Z" fill="white" stroke="%23222222" stroke-width="3"/></g><defs><clipPath id="clip0_798_564"><rect width="91" height="18" fill="white"/></clipPath></defs></svg>');
				position: absolute;
				width: 21.77%;
				height: 20px;
				bottom: -4px;
				background-size: 100%;
				left: 20px;
				background-position: top;
				background-repeat: no-repeat;
				z-index: 999;
				transform: rotate(180deg);
				opacity: 0;
				transition: 0.5s;
			}
		}
		.dz-media{
			padding: 2px;
		}

		&:hover{
			&:after{
				border: 3px solid var(--secondary);
			}
			.dz-media{
				img{
					transform: translateY(0px);
				}
			}
			.border-shap{
				&:after,
				&:before{
					opacity: 1;
				}
			}
		}
		.shop-meta{
			left: -70px;
			right: auto;
			transition: 0.5s;
			opacity: 0;
			align-items: start;
			@include respond('tab-land'){
				left: 20px;
			}
			@include respond('phone'){
				left: 15px;
				top: 15px;
				padding: 0;
			}
		}
		.dz-media{
			@include transitionMedium;
			img{
			    border-radius: 30px 30px 0px 0px;
			}
		}
		&:hover{
			.dz-media{
				transform: translateY(0px);
			}
			.shop-meta{
				opacity: 1;
				left: 10px;
				top: 10px;
				&.top{
					position: absolute;
					top: 30px;
					right: 30px;
				}
				
				.meta-icon{
					@include respond("phone"){
						top: 10px;
					}
				}
				
			}
			.shop-meta-2{
				left: 30px;
				opacity: 1;
			}	
		}
		.dz-media{
			border-radius: 0;
		}
		.dz-content{
		    text-align: start;
			padding: 20px 30px;
			border-radius: 30px;
			display: block;
			.title{
				width: 100%;
				margin-bottom: 20px;
				@include respond('phone-land'){
					margin-bottom: 15px;
				}
			}
			.sub-title{
				font-size: 15px;
				font-weight: 400;
				color: var(--bs-body-color);
			}
			@include respond('tab-land'){
				padding: 15px 12px;
			}
			@include respond('phone'){
				display: block;
			}
			.price{
				font-size: 20px;
				del{
					font-size: 16px;
				}
				@include respond('phone'){
					font-size: 16px;
					del{
						font-size: 12px;
					}
				}
			}
		}
		.product-tag{
			position: absolute;
			top: 10px;
			#{$dz-pos-left}: 10px;
			width: auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.badge {
				padding: 5px 15px;
				background-color: #ffff;
				color: var(--title);
				font-family: var(--font-family-title);
				font-size: 12px;
				min-width: 22px;
				min-height: 22px;
				line-height: 18px;
				text-transform: uppercase;
				text-align: center;
				font-weight: 600;
				border-radius: 30px;
				transition: 0.5s;
				@include respond('phone'){
					padding: 2px 8px;
					font-size: 10px;
				}
			}
		}
		.shop-meta {
			.meta-icon {
				border-radius: 12px;
				background: #fff;
				box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.05);
				i{
					color: var(--title);
				}
			}
		}

	}

	.star-rating{
		margin-bottom: 14px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4px;
		li{
			display: inline-block;
			font-size: 14px;
			color: #e4e5e8;
			&.star-fill{
				color: #ff8a00;					
			}
		}
		@include respond('phone'){			
			justify-content: left;
		}		
	}
	.price{
		margin-bottom: 0;			
		color: var(--title);
		font-weight: 600;
		del{
			color: $body-color;
			font-weight: 400;
			margin-#{$dz-pos-right}: 10px;
		}
	}
	.shop-meta{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: end;
		gap: 5px;
		padding: 15px;
		@include transitionFast;
		@include respond("phone"){
			gap: 0;
			padding: 15px 10px;
		}
		.meta-icon{
			width: 45px;
			min-width: 45px;
			height: 45px;
			display: block;
			background: rgba(0, 0, 0, 0.30);
			border: 0;
			line-height: 45px;
			border-radius: 32px;
			margin-bottom: 5px;
			box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.05);
			@include respond('phone'){
				width: 30px;
				min-width: 30px;
				height: 30px;
				line-height: 32px;
			}
			i{
				font-size: 18px;
				color:#fff;
			}
		}
		& > a{
			&:hover{
				background-color: var(--primary);
				border-color: var(--primary);
			}
		}
		.btn.btn-rounded{
			padding: 12px 30px;
			font-size: 14px;
			text-transform: uppercase;
			position: absolute;
			bottom: -60px;
			border: 4px solid #fffaf3;
			left: 50%;
			transform: translateX(-50%);
			white-space: nowrap;
		}
	}

	&:hover{
		@include respond('phone'){
			.shop-meta{
				bottom: 15px;

				.meta-icon{
					bottom: -10px;
				}
			}
		}
	}
	@include respond('phone-land'){
		.btn-icon{
			padding: 0!important;
			width: 30px;
			min-width: 30px;
			height: 30px;
		}
	}
	@include respond('phone'){
		.dz-content{
			padding: 10px;
			text-align: $dz-pos-left;
			.title{
				font-size: 14px;
				line-height: 1.2;
			}
		}
		.star-rating{
			margin-bottom: 5px;
		}
		.price{
			font-size: 13px;
			del{
				font-size: 15px;
				margin-#{$dz-pos-right}: 5px;	
			}
		}
	}
	&.style-10{
		.dz-media{
			background:#fff;
			width:200px;
			height:200px;
			margin:auto;
			margin: 30px auto 15px auto;
				img{
					height:100%;
				}
		}
		.add-product {
			background: #BEBEBE;
			width: 200px;
			height: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 30px auto 15px auto;
			border-radius:4px;
		}
	}
}


//Offer Box ====
.offer-card{
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	.offer-content{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 30px;
		.title{
			text-transform: capitalize;
		}
		.offer{
			margin-bottom: 15px;
		}
	}
	@include custommq($max:1399px, $min:1200px){
		.offer-content{
			padding: 18px;
			.title{
				font-size: 22px;
			}
			.offer{
				margin-bottom: 10px;
			}
		}
	}
	@include respond('phone-land'){
		.offer-content{
			padding: 18px;
			.title{
				font-size: 18px;
			}
			.btn{
				padding: 8px 18px;
				font-size: 14px;
			}
			.offer{
				font-size: 15px;
				margin-bottom: 10px;
			}
		}
	}
	@include respond('phone'){
		margin-bottom: 30px;
		.offer-content{
			padding: 30px;
			.title{
				font-size: 24px;
			}
			.btn{
				padding: 12px 25px;
				font-size: 16px;
			}
			.offer{
				font-size: 16px;
				margin-bottom: 15px;
			}
		}
	}
}

@keyframes rotate-360 {
	from {
		transform: rotate(0deg); 
	}
	to {
		transform: rotate(359deg);
	} 
}


.shop-box{
	&.style-1{
		.dz-media{
		    margin-bottom: 30px;
			text-align: center;
			img{
				width: 160px;
				height: 170px;
				object-fit: contain;
			}
		}
		.product-name{
			font-size: 16px;
			font-weight: 500;
			background: #fff;
			text-align: center;
			width: fit-content;
			margin: auto;
			padding: 5px 20px;
			border-radius: 30px;
			border: 1px solid #000;
		}
	}
}


.shop-section{
	.right-box,
	.left-box{
		position: relative;
		z-index: 1;
		padding: 80px 0;
		overflow: hidden;
		@include respond('phone'){
			padding:50px 0;
		}
	}
	.left-box{
		padding-right: 100px;
		padding-left: 100px;
		background-color: #FEEB9D;
		@include respond('tab-port'){
			padding-right: 30px;
			padding-left: 30px;
		}
		&:after {
			content: "";
			background-image: url('data:image/svg+xml,<svg width="413" height="44" viewBox="0 0 413 44" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M37.4829 37.8579L0 0.375V0H413V0.375L375.517 37.8579C367.707 45.6684 355.043 45.6684 347.233 37.8579L323.892 14.5171C316.082 6.70665 303.418 6.70665 295.608 14.5171L272.267 37.8579C264.457 45.6684 251.793 45.6684 243.983 37.8579L220.642 14.5171C212.832 6.70665 200.168 6.70665 192.358 14.5171L169.017 37.8579C161.207 45.6684 148.543 45.6684 140.733 37.8579L117.392 14.5171C109.582 6.70665 96.9184 6.70665 89.1079 14.5171L65.7671 37.8579C57.9566 45.6684 45.2934 45.6684 37.4829 37.8579Z" fill="%23FFFAF3"/></svg>');
			position: absolute;
			width: 30.77%;
			height: 50px;
			top: 0;
			background-size: 100%;
			left: 5%;
			background-position: top;
			background-repeat: no-repeat;
		}
		.icon-button{
		    position: absolute;
			right: -75px;
			top: 50%;
			transform: translate(-8%, -50%);
			@include respond('laptop'){
				display: none;
			}
		}
	}
	.right-box{
		background: #000;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		@include respond('laptop'){
			padding: 80px;
		}
		@include respond('tab-land'){
			padding: 40px;
			align-items: unset;
		}
		.title{
			color: #FFF;
			font-size: 35px;
			font-weight: 500;
			width:80%;
			@include respond('phone'){
				font-size: 26px;
				width: 100%;
			}
		}
		.text{
			color: rgba(255, 255, 255, 0.80);
			margin-bottom:30px;
			width:70%;
		}
		.pagination-align{
			gap:28px;
		}
		.icon-button{
			position: absolute;
			left: -65px;
			top: 50%;
			transform: translate(-10%, -50%);
			@include respond('laptop'){
				display: none;
			}
		}
	}
}
.icon-button{
    width: 140px;
    padding: 10px;
    position: relative;
    border-radius: 50%;
	display: inline-block;
	.button{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}
	img{
		animation: rotate-360 20s infinite linear;
	}
}
