// PRICING TABLE
.pricingtable-inner {
    text-align: center;
}
.pricingtable-features {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
		padding: 12px;
		i{
			margin: 0 3px;
		}
	}
	
}