.gift-bx{
	margin-bottom:30px;
	.gift-media{
		margin-bottom:20px;
		img{
			width: 100%;
		}
	}
	.gift-content{
		.title{
			font-weight: 700;
			font-size: 20px;
		}
		.text{
			font-weight: 400;
			font-size: 14px;
		}
	}
}